@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.profile--wrapper {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  max-width: 600px;
}
.profile--wrapper .edit_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile--wrapper .edit_image_container .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgb(40, 40, 50);
  width: 110px;
  height: 110px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
  overflow: hidden;
}
.profile--wrapper .edit_image_container .img-container .image__loading {
  border: 2px solid rgb(39, 194, 160);
  width: 30px;
  height: 30px;
  border-radius: 100px;
  animation: pulse 2s linear infinite;
}
@keyframes pulse {
  0% {
    transform: scale(-0.5);
  }
  25% {
    transform: scale(0.5);
    border: 2px solid rgba(77, 255, 148, 0.6);
  }
  50% {
    transform: scale(1);
    border: 2px solid rgba(77, 255, 148, 0.6);
  }
  75% {
    transform: scale(1.5);
    border: 2px solid rgba(77, 255, 148, 0.4);
  }
  100% {
    transform: scale(2);
    border: 2px solid rgba(77, 255, 148, 0.2);
  }
}
.profile--wrapper .edit_image_container .img-container .profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile--wrapper .edit_image_container > .image__edit--button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 45px;
  top: 45px;
  background-color: rgb(25, 25, 25);
  outline: 1px solid rgb(120, 120, 120);
  border: none;
  border-radius: 100px;
  width: 32px;
  height: 32px;
  color: white;
  cursor: pointer;
  transition: transform 200ms ease-in, outline 200ms ease-in;
}
.profile--wrapper .edit_image_container > .image__edit--button:hover {
  outline: 1px solid white;
  transform: scale(1.1);
}
.profile--wrapper p {
  color: rgb(120, 120, 120);
  align-self: flex-start;
}
.profile--wrapper .profile-info-container {
  width: 100%;
  max-width: 600px;
  border-bottom: 1px solid rgb(120, 120, 120);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.profile--wrapper .profile-info-container h3 {
  color: white;
  width: 200px;
  font-family: "Signika", sans-serif;
}
.profile--wrapper .profile-info-container input {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  font-size: 1.2rem;
  border: none;
  color: rgb(120, 120, 120);
  width: 100%;
  font-family: "Signika", sans-serif;
}
.profile--wrapper .sensitive-zone {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile--wrapper .sensitive-zone button {
  width: 45%;
  padding: 10px;
  font-size: 1.1rem;
  font-family: "Signika", sans-serif;
  border: none;
  color: white;
  background-color: rgb(25, 25, 25);
  border-bottom: 1px solid rgb(120, 120, 120);
  cursor: pointer;
  transition: border-bottom 200ms ease-out, margin-bottom 200ms ease-out, color 300ms ease-out;
}
.profile--wrapper .sensitive-zone button:hover {
  border-bottom: 5px solid rgb(120, 120, 120);
  margin-bottom: -5px;
}
.profile--wrapper .sensitive-zone button:nth-of-type(2) {
  outline: none;
}
.profile--wrapper .sensitive-zone button:nth-of-type(2):hover {
  border-bottom: 5px solid rgb(205, 0, 80);
  color: rgb(205, 0, 80);
}
.profile--wrapper > button {
  align-self: flex-start;
  width: 200px;
  max-width: 100%;
  height: 40px;
  padding: 10px;
  background-color: rgb(40, 40, 50);
  border: none;
  color: white;
  margin-top: 80px;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: "Signika", sans-serif;
  transition: outline 200ms ease-out;
  border-radius: 12px;
  outline: 1px solid rgb(39, 194, 160);
  animation: fadeIn 200ms ease-in forwards;
}
.profile--wrapper > button:disabled {
  outline: none;
  color: rgb(120, 120, 120);
  cursor: default;
}

@media screen and (max-width: 1000px) {
  .profile--wrapper {
    height: 100%;
  }
}
@media screen and (max-width: 625px) {
  .profile--wrapper {
    padding-left: 10%;
    padding-right: 10%;
  }
  .profile--wrapper .sensitive-zone {
    flex-direction: column;
  }
  .profile--wrapper .sensitive-zone button {
    width: 100%;
  }
  .profile--wrapper .sensitive-zone button:nth-of-type(2) {
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  .profile--wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .profile--wrapper .profile-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    min-width: 270px;
  }
  .profile--wrapper .profile-info-container h3 {
    margin: 0 0 10px 0;
    display: flex;
    align-self: flex-start;
    justify-self: center;
  }
  .profile--wrapper .profile-info-container input {
    margin: 0;
    padding: 5px;
    text-align: center;
  }
  .profile--wrapper button {
    width: 100%;
  }
}/*# sourceMappingURL=Profile.css.map */