@use "../styles/Mixins.scss";
@use "../styles/Colors.scss";
@use "../styles/Fonts.scss";

.profile--wrapper {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  max-width: 600px;

  .edit_image_container {
    @include Mixins.display-flex-center;
    flex-direction: column;

    .img-container {
      @include Mixins.display-flex-center;
      position: absolute;
      background-color: Colors.$secondary-background-color;
      width: 120px;
      height: 120px;
      border-radius: 100px;
      object-fit: cover;
      border: none;
      overflow: hidden;

      .image__loading {
        border: 2px solid Colors.$accent-color;
        width: 30px;
        height: 30px;
        border-radius: 100px;
        animation: pulse 2s linear infinite;
      }
      @keyframes pulse {
        0% {
          transform: scale(-0.5);
        }
        25% {
          transform: scale(0.5);
          border: 2px solid rgb(255, 6, 200, 0.6);
        }
        50% {
          transform: scale(1);
          border: 2px solid rgb(255, 6, 200, 0.6);
        }
        75% {
          transform: scale(1.5);
          border: 2px solid rgb(255, 6, 200, 0.4);
        }
        100% {
          transform: scale(2);
          border: 2px solid rgb(255, 6, 200, 0.2);
        }
      }

      .profile-picture {
        width: 120px;
        height: 120px;
        border-radius: 100px;
        object-fit: cover;
      }
    }
    > .image__edit--button {
      @include Mixins.display-flex-center;
      position: relative;
      left: 45px;
      top: 45px;
      background-color: Colors.$main-background-color;
      outline: 1px solid Colors.$grey-color;
      border: none;
      border-radius: 100px;
      width: 32px;
      height: 32px;
      color: white;
      cursor: pointer;
      transition: transform 200ms ease-in, outline 200ms ease-in;
      &:hover {
        outline: 1px solid Colors.$light-font-color;
        transform: scale(1.1);
      }
    }
  }

  p {
    color: rgb(120, 120, 120);
    align-self: flex-start;
  }

  .profile-info-container {
    width: 100%;
    max-width: 600px;
    border-bottom: 1px solid Colors.$grey-color;
    @include Mixins.display-flex-center;
    overflow: hidden;

    h3 {
      color: white;
      width: 200px;
      font-family: Fonts.$form-font;
    }

    input {
      background-color: rgba(0, 0, 0, 0);
      outline: none;
      font-size: 1.2rem;
      border: none;
      color: Colors.$grey-color;
      width: 100%;
      font-family: Fonts.$form-font;
    }
  }

  .sensitive-zone {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-top: 20px;

    button {
      width: 45%;
      padding: 10px;
      font-size: 1.1rem;
      font-family: Fonts.$form-font;
      border: none;
      color: white;
      background-color: Colors.$main-background-color;
      border-bottom: 1px solid Colors.$grey-color;
      cursor: pointer;
      transition: border-bottom 200ms ease-out, margin-bottom 200ms ease-out,
        color 300ms ease-out;
      &:hover {
        border-bottom: 5px solid Colors.$grey-color;
        margin-bottom: -5px;
      }
    }

    button:nth-of-type(2) {
      outline: none;
      &:hover {
        border-bottom: 5px solid Colors.$alert-color;
        color: Colors.$alert-color;
      }
    }
  }

  > button {
    align-self: flex-start;
    width: 200px;
    max-width: 100%;
    height: 40px;
    padding: 10px;
    background-color: Colors.$secondary-background-color;
    border: none;
    color: Colors.$light-font-color;
    margin-top: 80px;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: Fonts.$form-font;
    transition: outline 200ms ease-out;
    border-radius: 12px;
    outline: 1px solid Colors.$accent-color;

    &:disabled {
      outline: none;
      color: Colors.$grey-color;
      cursor: default;
    }
  }
}

@media screen and (max-width: 1000px) {
  .profile--wrapper {
    height: 100%;
  }
}

@media screen and (max-width: 625px) {
  .profile--wrapper {
    padding-left: 10%;
    padding-right: 10%;
    .sensitive-zone {
      flex-direction: column;

      button {
        width: 100%;
      }
      button:nth-of-type(2) {
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .profile--wrapper {
    padding-left: 80px;
    padding-right: 80px;
    height: 100%;

    .profile-info-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 100%;
      padding: 10px;
      margin: 20px 0 10px 0;
      overflow: hidden;
      min-width: 270px;

      h3 {
        margin: 0 0 10px 0;
        display: flex;
        align-self: flex-start;
        justify-self: center;
      }

      input {
        margin: 0;
      }
    }

    button {
      align-self: center;
      width: 100%;
    }
  }
}
