@use "../styles/Colors.scss";

.main__chats {
  grid-area: main;
  width: 100%;
  height: 100vh;
  background-color: Colors.$secondary-background-color;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2px;
  grid-template-rows: 0.3fr 4fr;
  grid-template-areas:
    "navigate navigate"
    "threads threads";

  .header {
    grid-area: navigate;
    background-color: Colors.$main-background-color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10% 0 10%;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 10px;
      background-color: Colors.$main-background-color;
      border: none;
      cursor: pointer;
      margin-left: 20px;
    }
  }
}
