@use "../styles/Colors.scss";
@use "../styles/Mixins.scss";

.friends-main {
  grid-area: main;
  width: 100%;
  // max-width: 600px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  gap: 4px;
  grid-template-areas:
    "input input"
    "list lsit";
  gap: 4px;
  background-color: Colors.$main-background-color;

  .input-container {
    display: flex;
    @include Mixins.display-flex-center;
    input {
      text-align: center;
      padding: 10px;
      width: 500px;
      height: 40px;
      font-size: 2rem;
      border: none;
      outline: none;
      border-radius: 14px;
      background-color: Colors.$secondary-background-color;
      color: white;
    }
  }
}
