@use "../styles/Colors.scss";
.input {
  grid-area: input;
  background-color: Colors.$main-background-color;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  input {
    text-align: left;
    margin-top: 20px;
    padding: 10px;
    width: 70%;
    height: 20px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 14px;
    background-color: Colors.$secondary-background-color;
    color: white;
  }
}
