@use "../styles/Colors.scss";

.thread-directory {
  grid-area: main;
  width: 100%;
  // max-width: 600px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 4fr 1fr;
  gap: 4px;
  grid-template-areas:
    "thread-navbar thread-navbar"
    "chat-window chat-window"
    "input input";
  gap: 4px;
  background-color: Colors.$secondary-background-color;
  .thread-nav {
    display: flex;
    align-items: center;
    justify-content: left;
    grid-area: thread-navbar;
    background-color: Colors.$main-background-color;
    input {
      width: 50%;
      height: 50%;
      outline: none;
      border: none;
      background-color: Colors.$main-background-color;
      border-radius: 12px;
      padding: 2px;
      color: white;
      margin-left: 50px;
    }
  }
  .chat-window {
    grid-area: chat-window;
    background-color: Colors.$main-background-color;
  }
}
