@use "../styles/Colors.scss";

.threads {
  grid-area: threads;
  background-color: Colors.$main-background-color;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 1;
  padding: 20px 0 20px 0;
  overflow: auto;
  .thread {
    background-color: Colors.$secondary-background-color;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 30px;
    min-height: 100px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 5px 4px 4px black;
    outline: 2px solid black;
    &:hover {
      .thread-menu {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 300ms;
      }
    }

    p {
      position: absolute;
      height: 20px;
      width: 50%;
      bottom: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: Colors.$grey-color;
    }
    .thread__last-message-text {
      color: Colors.$grey-color;
      font-size: 0.9rem;
      position: absolute;
      top: -35px;
      left: 0;
    }

    .thread__group-name {
      position: absolute;
      color: Colors.$accent-color;
      top: 10px;
    }
    .delete-button {
      position: absolute;
      right: 0px;
      background-color: Colors.$alert-color;
      border-radius: 0px 10px 10px 0px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 0px;
      width: 0%;
      animation: slide-open 200ms cubic-bezier(0.54, 0.33, 0.23, 0.75) 20ms
        forwards;
      border: 2px solid black;
      li {
        font-size: 1.2rem;
        font-weight: 600;
        color: rgb(0, 0, 0, 0);
        list-style-type: none;
        animation: fade-in 100ms ease-in-out forwards;
      }
    }

    .closed {
      width: 15%;
      animation: slide-closed 200ms cubic-bezier(0.24, 0.93, 0.93, 0.15) 20ms
        forwards;
      li {
        visibility: hidden;
      }
    }

    .thread-menu {
      position: absolute;
      right: 10px;
      height: 40px;
      outline: none;
      border: none;
      background-color: Colors.$secondary-background-color;
      cursor: pointer;
      border-radius: 12px;
      transition: outline 200ms ease-in-out;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear 300ms, opacity 300ms;
    }
    .open {
      position: absolute;
      right: 16%;
    }
  }
}

@keyframes slide-open {
  0% {
    width: 0%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 15%;
    position: static;
    margin-left: auto;
  }
}

@keyframes slide-closed {
  0% {
    width: 15%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 0%;
  }
}

@keyframes fade-in {
  0% {
    color: rgb(0, 0, 0, 0);
  }
  100% {
    color: Colors.$main-background-color;
  }
}
