$grey-color: rgb(120, 120, 120);
$accent-color: rgb(39 194 160); // rgb(77,255,148)
$light-font-color: white;
$main-background-color: rgb(25, 25, 25);
$dark-background-color: rgb(20, 20, 20);
$secondary-background-color: rgb(40, 40, 50);
$alert-color: rgb(205, 0, 80);
$blurred-background: rgb(20, 20, 20, 0.5);
