$grey-color: rgb(120, 120, 120);
$accent-color: rgb(77, 255, 148);
$light-font-color: white;
$main-background-color: rgb(25, 25, 25);
$secondary-background-color: rgb(55, 47, 73);
$alert-color: rgb(205, 0, 80);
