@use "../styles/Colors.scss";

@mixin white-border-button {
  background-color: Colors.$main-background-color;
  outline: none;
  border: none;
  color: Colors.$light-font-color;
  font-weight: 600;
  cursor: pointer;
  transition: transform 200ms ease-in, border-bottom 200ms ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

@mixin display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
