.user-dashboard {  
  height: 100%; 
  width: 100%;
  display: grid;
  grid-gap: 4px; 
  background-color: rgb(255,6,200); 
  grid-template-columns: 0.5fr 2fr; 
  grid-template-rows: 0.3fr 4fr 1fr; 
  grid-template-areas: 'sidebar navbar'
                       'sidebar main'
                       'sidebar input'; 
                       
  nav { 
    grid-area: navbar;
    background-color: rgb(33,30,41); 
    color: white; 
    display: flex; 
    align-items: center; 
    justify-content: flex-end;

    button { 
      cursor: pointer; 
      width: 5rem;
      padding: 10px; 
      border: 2px solid rgb(255,6,200); 
      background-color: rgb(33,30,41);  
      border-radius: 12px;
      color: white; 
      font-weight: 700; 
      margin-right: 20px; 
      transition: all 400ms ease-in-out;

      &:hover { 
        background-color:rgb(255,6,200); 
        color: rgb(33,30,41);
      }
    } 
  } 

  main { 
    grid-area: main;
    background-color: rgb(33,30,41); 
  } 

  .user-input { 
    grid-area: input;
    background-color: rgb(33,30,41); 
    display:flex; 
    justify-content: flex-start;
    align-items: flex-start; 
    padding: 20px;

    input { 
      width: 50%; 
      height:30px;
      background-color: rgb(55,47,73); 
      border-radius: 12px;
      border: 2px solid white; 
      font-size: 1.1rem; 
      padding: 5px;  
      outline: none;
      color: white;
    }
  }
}