.profile-wrapper { 
  padding: 30px;  
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center;  

  .profile-photo{ 
    width: 90px; 
    height: 90px; 
    background-color: grey; 
    border-radius: 100px;
  } 

  .profile-info-container {  
    width: 90%;
    padding: 20px 20px 0 20px; 
    border-bottom: 1px solid rgb(120,120,120); 
    margin-top: 20px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 

    h3{ 
      color: white;   
      margin-left: 80px;
    } 

    input { 
      background-color: rgba(0,0,0,0); 
      outline: none; 
      width: 300px; 
      font-size: 1.2rem; 
      border: none;
      // border-bottom: 2px solid rgb(120,120,120);
      color: rgb(120,120,120);
      margin-right: 100px;
    }
  }  

  button:last-of-type {  
    width: 250px; 
    height: 40px;
    padding: 10px; 
    background-color: rgb(55,47,73); 
    outline: none; 
    border: none;
    color: white;  
    margin-top: 20px;
    cursor: pointer; 
    font-size: 1.1rem; 
    transition: background-color 200ms ease-out;
    &:hover { 
      background-color: rgb(255,6,200);
    }
  }

  button:first-of-type{ 
    width: 100px; 
    height: auto;
    background-color: rgb(55,47,73); 
    outline: none; 
    border: none;
    color: white; 
    cursor:pointer; 
    margin-top: 5px;
  }
}