.sidebar-wrapper { 
  grid-area: sidebar;
  background-color: rgb(55,47,73);
  display: flex; 
  align-items: center;
  justify-content: flex-start;
  flex-direction: column; 

  button { 
    height: 40px; 
    width: 70%; 
    margin-bottom: 20px; 
    background-color:rgba(255,6,200);
    outline: none; 
    border: none;
    color: white; 
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;  
    transition: font-size 200ms ease-out;
    &:hover{ 
      font-size:1.4rem;
    }
  } 

  .image-container { 
    width: 120px; 
    height: 120px;  
    margin-bottom: 30px; 
    margin-top: 50px;
    border-radius: 100px;
    background-image: linear-gradient(rgb(255,6,200), rgb(55,47,73)); 
    position: relative; 

    button{   
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 100px; 
      background-color: rgb(55,47,73); 
      bottom: -3px; 
      right: 1px;
      border: 4px solid rgb(55,47,73); 
      transition: border 400ms ease-in;

      &:hover { 
        border: 2px solid rgb(120,120,120);
      }
    }
  } 
}