@use '../styles/Mixins.scss';

.sidebar-wrapper { 
  grid-area: sidebar;
  background-color: rgb(33,30,41);
  display: flex; 
  align-items: center;
  justify-content: flex-start;
  flex-direction: column; 
  animation: slide-in 450ms cubic-bezier(.89,0,.1,.99) forwards; 

  @keyframes slide-in {
    0% {  
      position: relative; 
      top: -100%;
    } 
  
    100% { 
      position: relative; 
      top: 0;
    }
  }
  
  button { 
    height: 40px; 
    width: 70%; 
    margin-bottom: 20px;
    font-size: 1.3rem;
    @include Mixins.white-border-button
  } 

  .image-container { 
    width: 90px; 
    height: 90px;  
    margin-bottom: 30px; 
    margin-top: 50px;
    border-radius: 100px;
    background-color: rgb(255,6,200);
    display: flex;
    align-items: center;
    justify-content: center;

    img { 
      width: 90px; 
      height: 90px; 
      border-radius: 100px; 
      object-fit: cover;
    }
  }  

  p{ 
    margin-bottom:50px;
    margin-top: 0;
  }
} 

@media screen and (max-width: 1000px) {
  .sidebar-wrapper{ 
    display: none;
  }
}

